.board {
    width: 75vh;
    height: 75vh;
    background-color: #f0f0f0;
    border: 1px solid grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {

    float: left;
    width: calc(75vh / 8);
    height: calc(75vh / 8);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (orientation: portrait) {
    .board {
        width: 75vw;
        height: 75vw; 
    }

    .square {
        width: calc(75vw / 8);
        height: calc(75vw / 8);
    }
}

@media (orientation: landscape) {
    .board {
        width: 75vh;
        height: 75vh; 
    }

    .square {
        width: calc(75vh / 8);
        height: calc(75vh / 8);
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    .board {
        width: 90vw;
        height: 90vw;
    }

    .square {
        width: calc(90vw / 8);
        height: calc(90vw / 8);
    }
}

@media (max-height: 600px) and (orientation: landscape) {
    .board {
        width: 90vh;
        height: 90vh; 
    }

    .square {
        width: calc(90vh / 8);
        height: calc(90vh / 8);
    }
}